.container{
    display: grid;
    width: 350px;
    height: 500px;
    margin: auto;
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    border: rgb(53, 53, 53) 8px solid;
    background-color: rgb(53, 53, 53);
    border-radius: 5px;
    
}

.display{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 60px;
    grid-column: -1/1;
    align-items: end;
    background-color: rgb(167, 165, 165);
    margin-bottom: 5px;
    border: 3px black solid;
    border-radius: 5px;
}

.button{
    font-size: 25px;
    border: 3px black solid;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

.number{
    background-color: lightskyblue;
}

.operator{
    background-color: orange;
}

.special{
    background-color: lightgreen;
}

.zero{
    grid-column: 1/3;
}